<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.dao.mapper.AdminMapper">
<select id="findAll" resultType="com.kevin.dao.pojo.Admin">
select * from t_admin</select>
<select id="findById" parameterType="java.lang.Integer" resultType="com.kevin.dao.pojo.Admin">
select * from t_admin where id=#{value}</select>
<select id="findByName" parameterType="java.lang.String" resultType="com.kevin.dao.pojo.Admin">
select * from t_admin where username =#{value}</select>
<insert id="save" parameterType="com.kevin.dao.pojo.Admin">
insert into t_admin(username,password) values(#{username},#{password})</insert>
<delete id="delete" parameterType="com.kevin.dao.pojo.Admin">
delete from t_admin where id=#{id}</delete>
<update id="update" parameterType="com.kevin.dao.pojo.Admin">
update t_admin set username=#{username},password=#{password} where id=#{id}</update>
<select id="login" parameterType="com.kevin.dao.pojo.Admin" resultType="com.kevin.dao.pojo.Admin">
select * from t_admin where username=#{username} and password=#{password}</select>
</mapper>