<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.dao.mapper.InfoMapper">
<select id="findAll" resultMap="findAllInfoMap">
select * from t_info n inner join t_user u on n.uploaderId=u.userId order by n.id asc</select>
<select id="findByTitle" parameterType="java.lang.String" resultMap="findAllInfoMap">
select * from t_info n inner join t_user u on n.uploaderId=u.userId where n.title like '%${value}%' <![CDATA[ and n.state="已通过"]]> order by n.id asc</select>
<select id="findByType" parameterType="java.lang.String" resultMap="findAllInfoMap">
select * from t_info n inner join t_user u on n.uploaderId=u.userId where n.type=#{value} <![CDATA[ and n.state="已通过"]]> order by n.id asc</select>
<select id="findById" parameterType="java.lang.Integer" resultMap="findAllInfoMap">
select * from t_info n inner join t_user u on n.uploaderId=u.userId where n.id=#{value} order by n.id asc</select>
<select id="findAllFront" resultMap="findAllInfoMap">
select * from t_info n inner join t_user u on n.uploaderId=u.userId where true <![CDATA[ and n.state="已通过"]]> order by n.id desc</select>
<select id="findByConnection" parameterType="com.kevin.dao.pojo.Info" resultMap="findAllInfoMap" >
select * from t_info n inner join t_user u on n.uploaderId=u.userId
	<where>
			<if test="title!=null and title !=''">
			and n.title like concat('%',#{title},'%')
			</if>
			<if test="user !=null and user.username !=null and user.username !=''">
			and u.username like concat('%',#{user.username},'%')
			</if>
			<if test="place !=null and place !=''">
			and n.place like concat('%',#{place},'%')
			</if>
			<if test="state !=null and state !=''">
			and n.state=#{state}
			</if>
			<if test="type !=null and type !=''">
			and n.type=#{type}
			</if>
			<if test="start_time!=null and start_time !='' and end_time!=null and end_time !=''">
			and n.time between #{start_time} and #{end_time}
			</if>
			<if test="start_time!=null and start_time !='' and (end_time==null or end_time =='')">
			and n.time <![CDATA[ >=]]> #{start_time} 
			</if>
			<if test="(start_time==null or start_time =='') and end_time!=null and end_time !=''">
			and n.time <![CDATA[ <= ]]> #{end_time}
			</if>
	</where>
	order by n.id asc
</select>
<insert id="save" parameterType="com.kevin.dao.pojo.Info" >
insert into t_info (content,title,place,time,type,uploaderId,state,video,audio,description) values(#{content},#{title},#{place},#{time},#{type},#{user.userId},#{state},#{video},#{audio},#{description})</insert>
<delete id="delete" parameterType="com.kevin.dao.pojo.Info" >
delete from t_info where id=#{id}</delete>
<update id="update" parameterType="com.kevin.dao.pojo.Info" >
	update t_info 
	<set>
		<if test="content != null and content !=''">
		 content=#{content},
		</if>
		<if test="title != null and title !=''">
			title=#{title},
		</if>
		<if test="place != null and place !=''">
		place=#{place},
		</if>
		<if test="time != null and time !=''">
		time=#{time},
		</if>
		<if test="type != null and type !=''">
		type=#{type},
		</if>
		<if test="user != null and user.userId != null and user.userId !=''">
		uploaderId=#{user.userId},
		</if>
		<if test="state != null and state !=''">
		state=#{state},
		</if>
		<if test="video != null and video !=''">
		video=#{video},
		</if>
		<if test="audio != null and audio !=''">
		audio=#{audio},
		</if> 
		<if test="description != null and audio !=''">
		description=#{description},
		</if>
	</set>
	where id=#{id}
</update>
	<resultMap type="com.kevin.dao.pojo.Info" id="findAllInfoMap">
         <id property="id" column="id"/> 
         <result property="title" column="title"/> 
         <result property="content" column="content"/> 
         <result property="place" column="place"/> 
         <result property="time" column="time"/> 
         <result property="type" column="type"/> 
         <result property="state" column="state"/> 
         <result property="video" column="video"/> 
         <result property="audio" column="audio"/> 
         <result property="description" column="description"/> 
         <association property="user" column="uploaderId" javaType="com.kevin.dao.pojo.User">
             <id property="userId" column="userId"/>
             <result property="username" column="username"/>
             <result property="phone" column="phone"/>
             <result property="email" column="email"/>
             <result property="level" column="level"/>
         </association>
    </resultMap>
</mapper>